<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %}
            My InstaClone Site
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <img src="//Users//sbalabha//Downloads//instalogo.jpg" alt="Image of Social Media Site"/>
</head>
<body>
    <header>
        <h1>Welcome to My InstaClone Site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <div class="center-part">
        <h1> Sign Up </h1>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <footer>
        <p>Footer content here</p>
    </footer>
</body>
</html>